body {
    height: 100vh !important;
    background-color: aqua !important;
    overflow: hidden
}

.main-container {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

.justify-space-around {
display: flex;
justify-content: space-around;
}

.width {
width: 30%;
}